{% extends "base.html" %}

{% block title %}
SYS
{% endblock %}

{% block search %}
{% endblock %}

{% block show %}
<div class="sys-lst" style="text-align:center;margin: 50px auto">
    <ul>
        <li><b><a id="rebuild-err-index" href="javascript:void(0)">重建Error List索引</a></b></li>
        <li> -</li>
        <li><b><a id="rebuild-qa-index" href="javascript:void(0)">重建Q and A索引</a></b></li>
        <li> -</li>
        <li id="backup-li"><b><a id="backup-db" href="javascript:void(0)">备份数据库</a></b></li>

        <li> -</li>
        <li><b><a id="init-db" href="javascript:void(0)">还原数据库</a></b></li>
        <li> -</li>
        <li><b><span >将csv以追加方式加入数据库并构建索引</span></b></li>
        <li>
        <li><br></li>
        <FORM action="add-err" method="POST" enctype="multipart/form-data">
            <b>1:</b><span>接口相关的错误</span>
            <input type="file" name="errorlist" placeholder="选择一个csv文件">
            <button>确认</button>
            <b style="font-size:12px">编码要求:utf-8,CSV结构如下:</b>
            
            <li><img src="/static/img/err_info.png" style="width:800px; height:120px;margin:20px 10px;"></li>
        </FORM>
        </li>

        <li>
        <li><br></li>
        <FORM action="add-qa" method="POST" enctype="multipart/form-data">
            <b>2:</b><span>一些业务相关的问题及解答</span>
            <input type="file" name="qanda" placeholder="选择一个csv文件">
            <button>确认</button>
            <b style="font-size:12px">编码要求:utf-8,CSV结构如下:</b>
            <br>
            <li><img src="/static/img/qa_info.png" style="width: 400px; height:120px;margin:20px 10px;"></li>
        </FORM>
        </li>

        <!-- <li> -->
        <!-- <li><br></li>
        <FORM action="add-qa" method="POST" enctype="application/x-www-form-urlencoded">
            <b>3:</b><span>OCR错误码及出错原因</span>
            <input type="file" name="ocrmap" placeholder="选择一个csv文件">
            <button>确认</button>
            <b style="font-size:12px">编码要求:utf-8,CSV结构如下:</b>
            <li><img src="/static/img/ocr_info.png"></li>
        </FORM>
        </li> -->
    </ul>

</div>


{% endblock %}