{% extends "base.html" %}

{% block script %}
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='search/search.css') }}">#}
{% endblock %}

{#窗口标题#}
{% block title %} Q&A Records{% endblock %}


{#搜索框-继承自base.html#}


{#模块内具体显示的内容#}
{% block show %}
    <form enctype="application/x-www-form-urlencoded" action="" method="post">
        <table class="contents">
            <tr>
                <th>No</th>
                <th>Q</th>
                <th>A</th>
                <th class="rightside">Opreate</th>
            </tr>
            {% for item in res %}
                <tr>
                    {# 计算序号 #}
                    <td>{{ loop.index + (pg - 1) * 20 }}</td>
                    <td>{{ item[2] }} </td>
                    <td>{{ item[3] }}</td>
                    <td class="rightside">
                        <li><a href="qa/{{ item[0] }}">修改</a></li>
                        <li><a href="">删除</a></li>
                    </td>
                </tr>
            {% endfor %}
            {% if not kw %}
                <tr>
                    <td>New</td>
                    <td><textarea name="ques" style="width:100%;height: 100%" placeholder="必填"></textarea></td>
                    <td><textarea name="ans" style="width:100%;height: 100%" placeholder="必填"></textarea></td>
                    <td class="rightside">
                        <button>添加</button>
                    </td>
                </tr>
            {% endif %}
        </table>
    </form>
{% endblock %}

{#翻页区域#}
{% block page %}
    {% if pg > 1 %}
        <a id="pageup" href="qa?pg={{ pg - 1 }}&kw={{ kw }}">上一页</a>
    {% endif %}
    {% if all_page > 1 %}
        <input id="jump-to" name="jump" value="{{ pg }}">
    {% endif %}
    {% if all_page > 2 %}
        <button>跳转</button>
    {% endif %}
    {% if pg < all_page %}
        <a id="pagedown" href="qa?pg={{ pg + 1 }}&kw={{ kw }}">下一页</a>
    {% endif %}

{% endblock %}

{#显示页数的区域,参数中的 20 为每页的条数#}
{% block pageinfo %}
    {% if all_page >1 %}
        {% for i in range(1,all_page + 1) %}
            <a href="qa?pg={{ i }}&kw={{ kw }}">{{ i }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}
